.menu-container::-webkit-scrollbar{
    background: transparent;
    width: 8px;
}

.menu-container::-webkit-scrollbar-thumb{
    height: 50px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: rgba(128, 128, 128, 0.784);
}

.menu-container:hover{
    overflow: scroll;
}
.menu-container{
    overflow: hidden;
}